# Node modules
node_modules/

# Vite build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*.local

# IDE / Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS 系統檔案
.DS_Store

# TypeScript
*.tsbuildinfo

# Optional: 如果有 coverage 測試
coverage/

